name: Frontend Build

on:
  push:
    paths:
      - frontend/**
      - docs/api.yaml
      - Makefile
  pull_request:
    paths:
      - frontend/**
      - docs/api.yaml
      - Makefile

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build frontend (gera tipos automaticamente)
        run: npm run build
